	html {}
	
	body {
		font-family: Verdana, sans-serif;
		font-size: 18px;
		color: GhostWhite;
		text-shadow: -1px 0 0 black, 0 1px 0 black, 1px 0 0 black, 0 -1px 0 black;
		background-color: Dimgray;
	}
	
	a:link, a:visited {
		color: LightPink;
		text-decoration: none;
		text-shadow: none;
	}
	
	a:hover{
		color: LemonChiffon;
	}
		
	.em {
		font-style: italic;
		font-family: Garamond;
	}
	
